.LP_WrapCTN {
  width: 100%;
  background-color: rgba(16, 71, 92, 0.4);
  height: 100vh;
  overflow: hidden;
}

.LP_HeroCTN {
  width: 100%;
  height: 1000px;
  background: rgba(16, 71, 92, 0.4) url("/imgs/bglading.jpg") no-repeat right
    top;
  background-size: cover;
  background-blend-mode: darken;

  max-width: 2000px;
  width: 100%;
  padding: 20px 0;
  margin: 0 auto;

  position: relative;
}

.LP_Hero_TopWave,
.LP_Hero_BotWave {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}

.LP_Hero_Nav {
  margin: 0 auto;
  max-width: 1800px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.LP_Hero_Nav .Nav_Mobile {
  display: none;
}

.LP_Nav_Logo {
  display: inline-block;
  overflow: hidden;
  cursor: pointer;
}

.LP_Nav_Logo img {
  width: 150px;
}

.LP_Nav_BTNS {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 30px;
  color: #fbffff;
}

.LP_Nav_BTNS_Login .Sub_Login {
  font-weight: 400;
  letter-spacing: 1.1px;
  margin-right: 5px;
  font-size: 20px;
  opacity: 0.8;
}

.LP_Nav_BTNS_Login .Login {
  text-decoration: none;
  color: #fbffff;
  font-weight: 500;
  border-bottom: 2px solid #bbbbbb;
  font-size: 20px;
  transition: all 0.2s ease;
  letter-spacing: 1.2px;
}

.LP_Nav_BTNS_Login .Login:hover {
  color: #d6a518;
  border-bottom: 2px solid #d6a518;
}

.LP_Nav_BTNS_Login .Get_Started {
  text-decoration: none;
  background-color: #fbffff;
  color: #146842;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1.2px;
  padding: 10px 25px;
  border-radius: 4px;
  transition: all 0.2s ease;

  border: 4px solid #fbffff;
}

.LP_Nav_BTNS_Login .Get_Started:hover {
  border: 4px solid #23b574;
  background-color: transparent;
  color: #fbffff;
}

.LP_Hero_Content {
  max-width: 1800px;
  width: 100%;
  padding: 80px 60px;
  margin: 0 auto;
}

.Content_LeftCTN {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.LeftCTN_Title {
  font-size: 74px;
  letter-spacing: 1.5px;
  color: #fbffff;
  font-weight: 700;
}

.LeftCTN_Title .highlight {
  color: #23b574;
}

.LeftCTN_SubTitle {
  color: #fbffff;
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 24px;
  opacity: 0.9;
}

.LeftCTN_WrapBTN {
  display: inline-block;
}

.LeftCTN_WrapBTN .Get_Started {
  margin-top: 40px;
  text-decoration: none;
  background-color: #23b574;
  cursor: pointer;
  color: #fbffff;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 1.2px;
  padding: 15px 0px;
  max-width: 250px;
  text-align: center;
  width: 100%;
  border-radius: 4px;
  transition: all 0.2s ease;
}

.LeftCTN_WrapBTN .Get_Started:hover {
  background-color: #146842;
}
