*,
:root {
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Cinzel", serif;
  font-family: "Fauna One", serif;
  font-family: "Quicksand", sans-serif;
  font-family: "Roboto Condensed", sans-serif;
}

html {
  font-size: 15px;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

.primary {
  color: #4461f2;
}
